@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* HTML tags */
  html { @apply text-gray-800; }

  a { @apply hover:underline }
  a[role=button] { @apply text-primary text-sm; }

  h1 { @apply mt-4 text-primary text-2xl; }
  h2 { @apply mb-2 text-primary text-xl; }

  /* SPECIAL components, idetified by # id */
  aside#default-sidebar { @apply flex fixed top-0 left-0 z-10 pt-12 h-screen transition-transform -translate-x-full sm:translate-x-0; }
  aside#default-sidebar > nav.wide { @apply w-36; }
  aside#default-sidebar > nav { @apply bg-primary p-1 w-12 flex gap-1 flex-col; }
  aside#default-sidebar > nav .btn { @apply w-full rounded; }
  aside#default-sidebar > nav .btn .icon { @apply w-full text-center; }
  aside#default-sidebar > div { @apply h-full w-60 p-1 shadow-lg overflow-y-auto bg-gray-50; }
  /* aside#default-sidebar > div > ul { @apply } */
  aside#default-sidebar > div > ul > li a { @apply flex items-center px-1 py-0.5 text-gray-900 rounded no-underline hover:bg-gray-100 hover:text-primary; }
  aside#default-sidebar > div > ul a .icon { @apply block min-w-[35px] text-center; }
  aside#default-sidebar > div > ul a .text { @apply block; }
  aside#default-sidebar > div > ul > li > ul > li { @apply ml-1; } /* lvl-2 */
  aside#default-sidebar > div > ul > li > ul > li > ul > li { @apply ml-1 text-sm; } /* lvl-3 */
  aside#default-sidebar > div > ul > li > ul > li > ul > li > ul > li { @apply ml-2 text-sm; } /* lvl-4 */
  aside#default-sidebar > div > ul > li > ul > li > ul > li > ul > li > ul > li { @apply ml-4 text-sm; } /* lvl-5 */

  nav#default-navbar { @apply bg-white fixed w-full z-20 top-0 start-0; }
  nav#default-navbar > div { @apply flex flex-wrap items-center justify-between mx-auto p-2; }
  nav#default-navbar .btn { @apply !shadow-none border border-gray-200; }

  div#sign-in-screen { @apply w-full h-screen flex items-center justify-center; }
  div#sign-in-screen > .inner { @apply shadow-lg rounded-lg border w-1/2 flex items-center p-10; }
  div#sign-in-screen > .inner > .logo { @apply flex-1 flex items-center justify-center p-4; }
  div#sign-in-screen > .inner > .logo img { max-width: 20rem; }
  div#sign-in-screen > .inner > .form { @apply flex-1 p-5; }
  div#sign-in-screen > .inner > .form > .title { @apply text-center; }
  div#sign-in-screen > .inner > .form > .content > input { @apply border border-gray-300 rounded-sm w-full p-4 mb-1; }

  div#app-main-content { @apply ml-72 mt-16 px-3; }
  div#app-main-content.sidebar-only-nav { @apply ml-12; }

  /* #default-navbar-mobile a { @apply block py-2 px-3 md:p-0 dark:text-white; } */

  /* CLASSES in alphabetical order */

  .adios.component.table { @apply w-full; }
  .adios.component.table .table-header { @apply flex justify-between mb-2; }
  .adios.component.table .table-header-left { @apply flex-1 flex gap-1; }
  .adios.component.table .table-header-title { @apply flex-1 text-center text-primary text-xl mr-2 }
  .adios.component.table .table-header-right { @apply flex-1; }
  .adios.component.table .table-header-search { @apply border border-gray-300 text-sm rounded-sm block w-full p-1 }
  .adios.component.table .table-body { @apply border; }
  .adios.component.table .table-body tr { @apply border divide-x border-transparent hover:bg-gray-100; box-sizing: border-box; }
  .adios.component.table .table-body thead th td { @apply p-0.5 text-sm; margin: 1px; }
  .adios.component.table .table-body tbody tr td { @apply p-0.5 text-sm; margin: 1px; }
  .adios.component.table .table-body tbody tr td > div { @apply text-sm; }
  .adios.component.table .table-body tbody tr td .inline-edit-icon { @apply invisible cursor-pointer; }
  .adios.component.table .table-body tbody tr td:hover .inline-edit-icon { @apply visible; }
  .adios.component.table .table-body tr.highlighted { @apply divide-none text-primary; }
  .adios.component.table .table-body tr.highlighted td > div { @apply border-b border-primary; }
  .adios.component.table .table-body tr td { @apply hover:bg-gray-200; }
  .adios.component.input.table { @apply max-w-[100%] }

  .adios.component.table .table-body tbody tr td .to-be-deleted { @apply bg-red-500; }
  .adios.component.table .table-body tbody tr td .to-be-deleted input { @apply text-red-500; }

  .adios.component.input { @apply inline-flex justify-between items-center w-full; }
  /* .adios.component.input.lookup { @apply block; } */

  .adios.component.input input,
  .adios.component.input textarea,
  .adios.component.input select { @apply border flex flex-1 border-gray-300 text-sm rounded-sm w-full p-0.5; }

  .adios.component.input.int input { @apply max-w-[160px]; }
  .adios.component.input.date input { @apply max-w-[160px]; }
  .adios.component.input.datetime input { @apply max-w-[160px]; }

  .adios.component.input .inner { @apply flex w-full items-center rounded gap-1; }
  .adios.component.input .inner .value-element { @apply inline-flex flex-1 items-center pr-1 mr-1 text-sm text-gray-900; min-height: 1.5rem; }
  .adios.component.input .inner .input-element { @apply flex flex-1 pr-1 mr-1 text-sm text-gray-900 items-center; min-height: 1.5rem; }
  .adios.component.input .inner .value-element .no-value { @apply text-gray-300 text-sm italic after:content-['N/A']; }
  .adios.component.input .inner .inline-editing-buttons { @apply flex flex-1 gap-1 invisible; }
  .adios.component.input .inner .inline-editing-buttons.always-visible { @apply !visible; }
  .adios.component.input .inner .btn { @apply shadow-none }
  .adios.component.input .inner:hover .inline-editing-buttons { @apply !visible }
  /* .adios.component.input.editing .inner .btn { @apply block } */

  .adios.component.input .input-after { @apply flex-1 ml-2; }
  .adios.component.input .input-unit { @apply text-sm flex-1 ml-2; }

  .alert-info { @apply p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50; }
  .alert-danger { @apply p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50; }
  .alert-success { @apply p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50; }
  .alert-warning { @apply p-4 mb-4 text-sm text-yellow-800 rounded-lg bg-yellow-50; }
  .alert-danger { @apply p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50; }

  .btn { @apply divide-x rounded inline-flex text-left p-0 m-0 items-center bg-primary text-white hover:bg-secondary hover:text-white hover:no-underline; box-sizing: border-box; }
  .btn .icon { @apply block px-2 py-1 text-sm; background: #FFFFFF20; }
  .btn .text { @apply block px-2 py-1 text-sm; }
  .btn .text > small { @apply block text-xs text-gray-600; }

  .btn.btn-extra-small .icon { @apply text-xs px-1 py-0.5; }
  .btn.btn-extra-small .text { @apply text-xs px-1 py-0.5; }
  .btn.btn-small .icon { @apply text-sm px-1.5 py-0.5; }
  .btn.btn-small .text { @apply text-sm px-1.5 py-0.5; }
  .btn.btn-large .icon { @apply text-lg px-2.5 py-1.5; }
  .btn.btn-large .text { @apply text-lg px-2.5 py-1.5; }
  .btn.btn-extra-large .icon { @apply text-2xl px-3.5 py-2; }
  .btn.btn-extra-large .text { @apply text-2xl px-3.5 py-2; }

  .btn.btn-transparent { @apply text-gray-800 bg-transparent border border-gray-100 hover:border-gray-200; }
  .btn.btn-transparent:hover .icon { @apply bg-gray-100; }
  .btn.btn-white { @apply text-gray-800 bg-white border border-gray-100 hover:bg-gray-200; }
  .btn.btn-light { @apply text-gray-800 bg-gray-50 border border-gray-100 hover:bg-gray-100; }
  .btn.btn-danger { @apply text-red-600 bg-red-200 hover:bg-red-400 hover:text-white; }
  .btn.btn-success { @apply text-white bg-green-700 hover:bg-green-900 hover:text-white; }
  .btn.btn-success-outline { @apply text-green-700 bg-white border border-dotted border-green-700 hover:border-solid; }
  .btn.btn-cancel { @apply text-gray-600 bg-gray-200 hover:bg-gray-400 hover:text-white; }
  .btn.btn-cancel-outline { @apply text-gray-600 bg-white border border-dotted border-gray-200 hover:border-solid; }

  .btn.btn-blue { @apply text-blue-800 bg-blue-100 border border-blue-100 hover:border-blue-200; }
  .btn.btn-blue-outline { @apply text-blue-800 bg-transparent border border-blue-100 hover:border-blue-200; }
  .btn.btn-green { @apply text-green-800 bg-green-100 border border-green-100 hover:border-green-200; }
  .btn.btn-green-outline { @apply text-green-800 bg-transparent border border-green-100 hover:border-green-200; }
  .btn.btn-red { @apply text-red-800 bg-red-100 border border-red-100 hover:border-red-200; }
  .btn.btn-red-outline { @apply text-red-800 bg-transparent border border-red-100 hover:border-red-200; }
  .btn.btn-yellow { @apply text-yellow-800 bg-yellow-100 border border-yellow-100 hover:border-yellow-200; }
  .btn.btn-yellow-outline { @apply text-yellow-800 bg-transparent border border-yellow-100 hover:border-yellow-200; }
  .btn.btn-lime { @apply text-lime-800 bg-lime-100 border border-lime-100 hover:border-lime-200; }
  .btn.btn-lime-outline { @apply text-lime-800 bg-transparent border border-lime-100 hover:border-lime-200; }
  .btn.btn-violet { @apply text-violet-800 bg-violet-100 border border-violet-100 hover:border-violet-200; }
  .btn.btn-violet-outline { @apply text-violet-800 bg-transparent border border-violet-100 hover:border-violet-200; }

  .btn-list-item { @apply flex rounded-none border-none shadow-none w-full; }
  .btn-list-item .text { @apply border-none flex-1; }
  .btn-list-item .icon { @apply self-stretch flex items-center; }

  .btn.btn-disabled { @apply text-gray-200 border border-gray-200 hover:border-gray-200 hover:text-gray-200; }
  .btn.btn-disabled .icon { @apply text-gray-200 hover:text-gray-200; }
  .btn.btn-disabled .text { @apply text-gray-200 hover:text-gray-200; }

  .btn.btn-dropdown { @apply flex flex-col items-baseline; }
  .btn.btn-dropdown > .menu > .list { @apply invisible mt-1 bg-white shadow rounded absolute z-10; }
  .btn.btn-dropdown:focus-within > .menu > .list { @apply visible; }
  .btn.btn-dropdown:focus-within > .menu > .list .btn { @apply text-nowrap; }

  .btn-group { @apply flex divide-x rounded border border-gray-100 hover:border-gray-200; }
  .btn-group .btn { @apply border-none rounded-none shadow-none first:rounded-l last:rounded-r; }

  .breadcrumbs { @apply flex border-b border-gray-300 pb-2; }

  .card { @apply border border-solid border-primary/10 shadow-sm overflow-x-auto; }
  .card-header { @apply flex justify-between items-center font-normal shadow-sm p-2 text-primary bg-primary/10; }
  .card-header.small { @apply text-sm p-1; }
  .card-header .btn { @apply !font-normal border border-gray-300; }
  .card-body { @apply p-2; }
  .card-footer { @apply flex justify-between border-t p-4; }

  .dialog { @apply rounded bg-white; }
  .dialog-handle { @apply p-2 hover:bg-gray-50; }
  .dialog-header { @apply p-4; }
  .dialog-body { @apply p-4; }
  .dialog-footer { @apply p-4 border-t border-gray-200 bg-gray-50; }

  .divider { @apply px-1 py-4; }
  .divider.dense { @apply px-1 py-2; }
  .divider > div { @apply relative; }
  .divider > div > div { @apply flex relative justify-start; }
  .divider > div > div:nth-child(1) { @apply flex items-center absolute inset-0; }
  .divider > div > div:nth-child(1) > div { @apply border-t w-full border-gray-200; }
  .divider > div > div:nth-child(2) > span { @apply flex justify-between items-center text-gray-600 font-semibold leading-6 ml-3 px-3 bg-white hover:text-primary; }

  .form { @apply shadow-sm rounded-sm border border-gray-200; }
  .form .form-header { @apply flex border-b border-b-gray-200 text-primary items-baseline w-full justify-between shadow-sm p-2 bg-gray-50; }
  .form .form-header .modal-header-left { @apply flex gap-1; }
  .form .form-header .modal-header-title { @apply text-center; }
  .form .form-header .modal-header-right { @apply flex gap-1; }
  .form .form-body { @apply p-2 flex-1 overflow-y-auto; }
  .form .form-footer { @apply p-2 border-t border-t-gray-200 bg-gray-50; }

  .input-wrapper { @apply flex justify-between items-center border border-transparent; box-sizing: border-box; }
  .input-wrapper:hover { @apply bg-gray-50; }
  .input-wrapper .input-label { @apply flex-1 block text-sm font-medium text-gray-900 ml-1 mr-1; }
  .input-wrapper:hover .input-label { @apply text-primary; }
  .input-wrapper .input-body { @apply flex items-center flex-[2]; overflow-wrap: anywhere; }
  .input-wrapper .input-description { @apply text-xs text-gray-500 pr-1; }

  .key-value-table { @apply leading-8 divide-y text-sm border; }
  .key-value-table.dense { @apply leading-4 border; }
  .key-value-table > div { @apply flex justify-between p-1 hover:bg-gray-100; }
  .key-value-table > div div:nth-child(2) { @apply font-bold; }

  .list { @apply list-none border rounded divide-y; }

  .modal { @apply flex flex-col h-screen overflow-auto; }
  .modal.right { @apply fixed top-0 right-0 w-1/2 z-50 h-full shadow-2xl bg-white border-l border-l-primary; }
  .modal.right.wide { @apply w-2/3; }
  .modal.right.wider { width: 90vw; }
  .modal.centered { @apply fixed mx-auto mt-1 w-2/3 h-2/3 z-50 shadow-2xl bg-white border border-primary resize; top: 2em; left: 50%; transform: translate(-50%, 0%);}
  .modal.centered.large { width: 90vw; height: 90vh; }
  .modal.centered.small { @apply fixed mx-auto mt-1 w-1/2 h-1/2 z-50 shadow-xl bg-white; top: 50%; left: 50%; transform: translate(-50%, -50%);}
  .modal.centered.tiny { @apply fixed mx-auto mt-1 w-1/3 h-1/3 z-50 shadow-xl bg-white; top: 50%; left: 50%; transform: translate(-50%, -50%);}
  .modal .modal-header { @apply flex border-b border-b-gray-200 text-primary items-baseline w-full justify-between shadow-sm p-2 bg-gray-50; }
  .modal .modal-header .modal-header-left { @apply flex gap-1; }
  .modal .modal-header .modal-header-title { @apply text-center; }
  .modal .modal-header .modal-header-right { @apply flex gap-1; }
  .modal .modal-body { @apply p-2 flex-1 overflow-y-auto; }
  .modal .modal-footer { @apply p-2 border-t border-t-gray-200 bg-gray-50; }

  /* PRIMETABLE */

  .p-progressbar .p-progressbar-value { @apply bg-primary; }
  /* .p-datatable .p-datatable-tbody > tr > td { @apply p-1 text-sm; } */
  .p-datatable .p-datatable-thead > tr > th { @apply p-1 text-sm border-b border-b-gray-400; }
  .p-datatable .p-datatable-thead > tr > th .p-sortable-column-icon { @apply scale-[0.75]; }
  .p-treetable .p-treetable-tbody > tr > td { @apply p-1 text-sm; }
  .p-tree-container .p-treenode { @apply ml-2; }
  .p-tree-container .p-treenode .p-treenode .p-treenode .btn-transparent { @apply bg-slate-50 border-gray-300; }
  .p-tree-container .p-treenode .p-treenode .btn-transparent { @apply bg-slate-100 border-gray-300; }
  .p-tree-container .p-treenode .btn-transparent { @apply bg-slate-200 border-gray-300 hover:border-gray-600; }
  .p-tree-container > .p-treenode { @apply ml-0; }
  .p-tree-filter { @apply rounded border border-gray-200 text-sm p-1; }
  .p-tree-toggler.p-link { @apply rounded hover:bg-gray-200; }
  .p-treenode-content { @apply p-0; }
  .p-tree-toggler { @apply scale-[0.66]; }
  .p-tabview .p-tabview-ink-bar { @apply bg-primary; }
  .p-tabview-nav { @apply border-b border-gray-200; }
  .p-tabview-panels { @apply pl-0; }
  .p-tabview-nav-link { @apply mr-0.5 rounded-t border border-gray-200 p-2 text-sm !no-underline font-normal hover:bg-gray-50; }
  .p-tabview-selected > .p-tabview-nav-link { @apply text-primary border-primary text-primary hover:!bg-none; }
  .p-inputswitch { zoom: 0.66; }

  .p-tree { @apply p-0; }

  /* ASYNC SELECT */
  /* .adios-lookup__indicator { padding: 0px !important; }
  .adios-lookup__control { @apply !w-full rounded-sm; min-height: auto !important; }
  .adios-lookup__input-container { @apply !text-sm !p-0.5 !m-0; min-width: 2em; }
  .adios-lookup__value-container { @apply !p-0; }
  .adios-lookup__input { @apply !text-sm; }
  .adios-lookup__menu * { @apply !text-sm; } */

  .adios-lookup[class*='-container'] { width: 100%; }
  .adios-lookup *[class*='-indicator'] { padding: 0px !important; }
  .adios-lookup *[class*='-control'] { @apply !w-full rounded-sm; min-height: auto !important; }
  .adios-lookup *[class*='-input-container'] { @apply !text-sm !p-0.5 !m-0; min-width: 2em; }
  .adios-lookup *[class*='-ValueContainer'] { @apply !p-0; }
  .adios-lookup *[class*='-Input'] { @apply !text-sm; }
  .adios-lookup *[class*='-menu'] * { @apply !text-sm; }
  .adios-lookup > div > div { @apply p-0; }
  .adios-lookup > div > div > div { @apply p-0; }
}

/* BODY */

body.react-elements-rendering #app-main-content { display: none; }
body.react-elements-rendered #app-main-content { display: block; }
body.ajax-loading nav#default-navbar { background: #EEEEEE; opacity: 0.5; }

/* SWAL */

.swal2-html-title { text-align: left; }
.swal2-html-container { text-align: left; }

